@use "./styles/variables" as v
@use "./styles/mixins" as m

.field__control--error
  @include m.error-border
  .field__label,
  .field__label > label
    color: v.$danger

.login__otp-grid--error .login__otp-input
  @include m.error-border

.field__error
  margin: 0
  font-size: 14px
  font-weight: 400
  color: v.$danger
