@use "./styles/variables" as v

.signup__intro
  display: flex
  flex-direction: column
  gap: 16px
  margin-top: 32px

.signup__layout
  display: flex
  flex-direction: row
  column-gap: 48px
  align-items: flex-start

.login__panel--slim
  max-width: 100%
  margin: 48px 0 0 0

.member__panel
  margin-top: 80px

.signup__form
  display: flex
  flex-direction: column
  gap: 32px
  margin: 0
  align-items: stretch

.login__fields--grid
  display: grid
  grid-template-columns: repeat(2, 2fr)
  row-gap: 24px
  column-gap: 16px
  margin: 0

.field__control--select .field__select
  appearance: none
  -webkit-appearance: none
  -moz-appearance: none

.field__select:required:invalid
  color: v.$placeholder

.field__select option
  color: v.$text-dark

.field__control--with-chip
  position: relative

.field__control.field__control--with-chip
  gap: 6px

.field__chip-select
  appearance: none
  -webkit-appearance: none
  -moz-appearance: none
  //display: flex
  height: 24px
  min-width: 64px
  border: 0
  border-radius: 4px
  background: #97979733
  padding-left: 4px
  padding-right: 22px
  background-image: url('/down.svg')
  background-repeat: no-repeat
  background-position: right 6px center
  background-size: 10px 6px
  font-size: 16px
  font-weight: 300
  line-height: 24px
  color: v.$text-dark
  cursor: pointer

.signup__checks
  display: flex
  flex-direction: column
  gap: 16px
  margin: 0
  > span
    font-size: 16px
    font-weight: 300
    line-height: normal

.signup__glow
  position: relative
  width: 500px
  height: 500px
  left: 0
  right: 0
  top: 0
  background: rgba(72,128,255,0.20)
  border-radius: 100%
  filter: blur(150px)
  pointer-events: none

.signup__visual
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  justify-self: end
  align-items: flex-start
  flex-wrap: nowrap
  width: 100%

.signup__art
  position: relative 
  width: 100%
  height: 100% 
  overflow: visible

.signup__art-item
  position: absolute
  display: block

.signup__art-item--dashboard
  left: 200px
  top: 0px
  z-index: 1

.signup__art-item--chart
  left: 261px
  top: 135px
  z-index: 2

.signup__art-item--person
  left: 0px
  top: 66px
  z-index: 3

.signup__art-item--bike
  left: 233px
  top: 57px
  z-index: 4

.signup__brand
  align-self: end 
  justify-self: end
  position: static !important 
  margin: 24px 0 0 0

.signup__lang
  display: inline-flex
  justify-content: center
  gap: 8px
  margin-bottom: 10px

.signup__lang-flag
  border-radius: 4px
  display: block

.signup__lang-selectwrap
  display: flex
  align-items: center
  gap: 6px

.signup__lang-select
  border: 0
  outline: none
  font-size: 16px
  font-weight: 500
  line-height: 24px
  color: v.$text-dark
  cursor: pointer
  appearance: none
  -webkit-appearance: none
  -moz-appearance: none
  background-image: url('/arrowLanguage.svg')
  background-repeat: no-repeat
  background-position: right 6px center
  background-size: 14px 14px

.signup__lang-caret
  width: 14px
  height: 14px
  display: block
  pointer-events: none
    
.login__main--success
  margin-top: 48px

/* ==== success ==== */
.success
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  gap: 32px
  margin: 80px 0 0 0

.success__titles
  display: flex
  flex-direction: column
  align-items: center
  gap: 6px
  text-align: center

.form__subtitle--signup-success
  text-align: center
  max-width: 720px
  margin: 0 auto

.success__images
  --s: 1
  position: relative
  width: calc(630px * var(--s))
  height: calc(410px * var(--s))
  margin: auto 0

.success__img
  position: absolute
  display: block

.success__img--dashboard
  left: calc(0px * var(--s))
  top: calc(0px * var(--s))
  width: calc(400px * var(--s))
  height: calc(273px * var(--s))
  z-index: 1

.success__img--person
  left: calc(272px * var(--s))
  top: calc(10px * var(--s))
  width: calc(262px * var(--s))
  height: calc(400px * var(--s))
  z-index: 2

.success__img--clock
  left: calc(518px * var(--s))
  top: calc(39px * var(--s))
  width: calc(111px * var(--s))
  height: calc(111px * var(--s))
  border-radius: 80px
  z-index: 3

.success__hint
  color: #7B7B7B
  font-size: 15px
  font-weight: 300
  text-align: center;
  span
    font-weight: 600

/* ==== questionary ==== */

.container__questionary
  display: flex
  width: 100%
  flex-direction: column
  align-items: stretch
  gap: 16px
  margin: 0

.questionary__group
  width: 100%
  display: grid
  gap: 8px
  > * 
    min-width: 0
  
.questionary__label
  color: v.$text-dark
  font-size: 18px
  font-weight: 500
  text-wrap: wrap

.questionary__radios
  display: inline-flex
  align-items: center
  gap: 24px

.radio__text
  color: v.$text-dark
  font-size: 16px
  font-weight: 300

@media (max-width: 1366px)
  .signup__layout
    column-gap: 32px
  .signup__visual
    width: 80%
  .signup__art
    transform: scale(.90)
    transform-origin: left

@media (max-width: 1280px)
  .signup__layout
    column-gap: 28px
  .signup__visual
    width: 60%
  .signup__art
    transform: scale(.80)
  .signup__brand
    padding-right: 10%

@media (max-width: 1140px)
  .signup__layout
    column-gap: 4px
  .signup__visual
    width: 40%
  .signup__art
    transform: scale(.65)

@media (max-width: 1024px)
  .signup__layout
    flex-direction: column
    align-items: center
  .signup__intro
      margin-top: 30px

  .signup__visual
    align-items: center
    justify-content: flex-start

  .signup__art
    display: none
  .signup__brand
    align-self: center
    margin: 63px 0 0 0
    padding: 0

  .login__panel--slim
    max-width: 100%
    margin: 32px 0 0 0

  .login__fields--grid
    grid-template-columns: 1fr

  .form__title--signup
    font-size: 24px
  .form__subtitle
    font-size: 16px
  
  .signup__lang
    margin: 0

  .success
    margin: 31px 0 0 0
  
  .success__images
    --s: .80
  
  .login__panel--questionary
    margin: 0
    gap: 32px

@media (max-width: 768px)
  .success__images
    --s: .60

/* ========= arreglar ========= */
@media (min-width: 1600px)
  .success__stack
    transform: scale(1.06)
    transform-origin: center
  .signup__form
    padding: 0
    margin-top: 62px
  .signup__visual
    transform: scale(1.04)
    transform-origin: bottom right
  .signup__brand
    transform: translateY(32px)

@media (min-width: 1920px)
  .success__stack
    transform: scale(1.12)
  .signup__layout
    grid-template-columns: 50%
  .signup__visual
    justify-self: center
  .signup__form
    gap: 48px
    margin-top: 62px
  .signup__brand
    transform: translateY(32px)






//Recordatorio: 
//  Tablets: --s: .80
//  Celulares: --s: .60